body {
    background-color: #76ccff;
    // border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 98vw;

}

.wrapper {
    position: absolute;
}