.otter-which-should-be-moving {
    animation: moveOtter 100s linear infinite;


    offset-path: path("m40.809 73.484c65.197-120.16 264.8-54.01 399.24-61.186 156.98-8.3791 420.99-22.537 471.14 21.415 17.935 15.719 73.735 346.78 6.1186 477.25-69.197 133.52-16.496-374.38-159.08-422.19-251.61-84.354-457.37 579.86-673.05 425.25-107.85-77.313-6.1018-285.54 93.309-387 92.401-94.306 241.98-124.03 310.52-35.182 102.8 133.24-296.25 267.85-211.09 413.01 81.586 139.08 329.54-114.23 492.55-44.36 150.65 64.573 13.983-406.43-149.91-408.42-135.11-1.6435 8.1923 365.41-125.43 385.47-124.5 18.698-92.642-327.24-217.21-308.99-143.58 21.038 3.5636 446.36-137.67 413.01-128.66-30.378-183.76-312.65-99.428-468.08z");
    offset-distance: 0%;

}


@keyframes moveOtter {
    from {
    offset-distance: 0%;
    }
    to {
    offset-distance: 100%;
    }
}

